  <h1>Tarify</h1>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <form class="navbar-form navbar-left" method="post" action="">
      <%= csrf_token_field %>
    <div class="panel-heading">Balíčky</div>
    <div class="panel-body">
      <p>
        <table class=".table tariff">
        <tr><th>NUM</th><th>Název</th><th>Tarif</th></tr>
        <tr><td><button class="btn btn-default" onClick="sendPOST('/create/package',event,true);return false;">Přidat</button></td>
          <td><input type="text" name="name" class="form-control" placeholder="Název tarifu" aria-describedby="basic-addon1"></td>
          <td><%= select_tag(:tariffs, :options => @tariffs_select, :multiple => true) %></td>
        </tr>
        <% @packages.each do |package| %>
            <% next if package.nil? %>
            <tr>
              <td>
                  <button class="btn btn-default" type="button" onClick="js_post('/delete/package','<%= package.id %>',function(data) { $(event.target.parentElement.parentElement).remove();});return false;">Smazat</button>
                  <button class="btn btn-default" type="button" onClick="sendPOST('/update/package',event,true);return false;">Aktualizovat</button>
                  <input type="hidden" name="id" value="<%= package.id %>" />
              </td>
              <td><input type="text" name="name" class="form-control" value="<%= package.name %>" aria-describedby="basic-addon1"></td>
              <td>
                <%= select_tag(:tariffs, :options => @tariffs_select, :multiple => true, :selected => package.tariffs) %>
              </td>
            </tr>
        <% end %>
        </table>
      </p>
    </div>

    <div class="panel-heading">Tarify</div>
    <div class="panel-body">
      <p><table class=".table tariff">
        <tr><th>NUM</th><th>Název tarifu</th><th>Částka</th><th>Limituje</th></tr>
        <tr>
          <td><button class="btn btn-default" onClick="sendPOST('/create/tariff',event,true);return false;">Přidat</button></td>
          <td><input type="text" name="name" class="form-control" placeholder="Název tarifu" aria-describedby="basic-addon1"></td><td><input type="number" name="price" class="form-control" placeholder="Částka" aria-describedby="basic-addon1"></td>
          <td><%= select_tag(:limit, :options => @limits_select) %></td>
        </tr>
        <% @tariffs.each do |rate| %>
            <% next if rate.nil? %>
            <td>
              <button class="btn btn-default" type="button" onClick="js_post('/delete/tariff','<%= rate.id %>',function(data) { $(event.target.parentElement.parentElement).remove();});return false;">Smazat</button>
              <button class="btn btn-default" type="button" onClick="sendPOST('/update/tariff',event,true);return false;">Aktualizovat</button>
            </td>
            <td>
              <input type="text" name="name" class="form-control" value="<%= rate.name %>" aria-describedby="basic-addon1">
            </td>
            <td>
              <input type="number" name="price" class="form-control" value="<%= rate.price %>" aria-describedby="basic-addon1">
            </td>
            <td><%= select_tag(:limit, :options => @limits_select, :selected => rate.limit.name) %> - <%= rate.limit.name %></td></tr>
        <% end %>
      </table></p>
    </div>


    <div class="panel-heading">Limity</div>
    <div class="panel-body">
      <p><table class=".table tariff">
        <tr><th>NUM</th><th>Název limitu</th><th>Parametr/Atribut</th></tr>
        <tr>
          <td><button class="btn btn-default" onClick="sendPOST('/create/limit',event,true);return false;">Přidat</button></td>
          <td><input type="text" name="name" class="form-control" placeholder="Název tarifu" aria-describedby="basic-addon1"></td>
          <td><input type="text" name="parameter" class="form-control" placeholder="Atribut" aria-describedby="basic-addon1"></td>
        </tr>
        <% @limits.each do |lim| %>
            <% next if lim.nil? %>
            <tr>
              <td>
                <button class="btn btn-default" type="button" onClick="js_post('/delete/limit','<%= lim.id %>',function(data) { $(event.target.parentElement.parentElement).remove();});return false;">Smazat</button>
                <button class="btn btn-default" type="button" onClick="sendPOST('/update/limit',event,true);return false;">Aktualizovat</button>
              </td>
              <td>
                <input type="text" name="name" class="form-control" value="<%= lim.name %>" aria-describedby="basic-addon1">
              </td>
              <td>
                <input type="text" name="parameter" class="form-control" value="<%= lim.parameter %>" aria-describedby="basic-addon1">
              </td>
            </tr>
        <% end %>
      </table>
      </p>
    </div>
    </form>

  </div>