  <h1>Přehled Tarifů</h1>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Přehled zaměstnanců</div>
    <div class="panel-body">
      <p>Přehled přidělených čísel</p>
    </div>
    <form class="navbar-form navbar-left" method="post" action="<%= Portal::App.url(:sim,:create) %>">
      <%= csrf_token_field %>
      <table class=".table">
        <tr><th>Jméno</th><th>Číslo</th><th>Balíček</th></tr>
        <tr><td><button class="btn btn-default" onClick="sim_add(event)">Přidat</button></td><td><input type="text" name="sim" class="form-control" placeholder="Číslo SIM" aria-describedby="basic-addon1"></td><td><input type="text" name="phone" class="form-control" placeholder="Mobilní číslo" aria-describedby="basic-addon1"></td></tr>
        <% @mobiles.each do |mobil| %>
          <tr><td><button class="btn btn-default" onClick="sim_remove(event)">Odebrat</button> <button class="btn btn-default" onClick="sim_update(event)">Aktualizovat</button></td><td><input type="text" name="name" class="form-control" value="<%= mobil.persona.name %> <%= mobil.persona.surname %>" aria-describedby="basic-addon1"></td><td><input type="text" name="phone" class="form-control" value="<%= mobil.package.name %> <%= mobil.sim.phone %>" aria-describedby="basic-addon1"></td></tr>
        <% end %>
      </table>
    </form>

  </div>