<html>
<head>
  <title>MEDvídek - portál pro správu mobilních financí</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="">
  <%= stylesheet_link_tag 'bootstrap-theme', 'bootstrap.min','main' %>
  <%= javascript_include_tag 'jquery', 'bootstrap.min', 'app.js'%>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MEDvídek</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Recept", Portal::Build.url(:build, :index) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lidé<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Tarify", Portal::App.url(:tariff, :index) %></li>
            <li><%= link_to "SIM", Portal::App.url(:sim, :index) %></li>
            <li><%= link_to "Zahraniční cesty", Portal::App.url(:holiday, :index) %></li>
            <li><%= link_to "Lidé", Portal::App.url(:accounting, :index) %></li>
            <li><%= link_to "Nadřízení", Portal::App.url(:accounting, :index) %></li>
            <li><%= link_to "Synchronizace", Portal::App.url(:sync, :index) %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zpracování<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Operátor", Portal::App.url(:accounting, :index) %></li>
            <li><%= link_to "Přehled vyúčtování", Portal::App.url(:sim, :index) %></li>
            <li><%= link_to "SAP", Portal::App.url(:holiday, :index) %></li>
            <li><%= link_to "Informování", Portal::Report.url(:list, :index) %></li>
            <li><%= link_to "Soubory", Portal::Storage.url(:list, :index) %></li>
          </ul>
        </li>
        <li><%= link_to "Editor", Portal::App.url(:editor, :index) %></li>
        <li><%= link_to "Soubory", Portal::Storage.url(:list, :index) %></li>
        <li><%= link_to "Report", Portal::Report.url(:list, :index) %></li>
        <li>Evidence</li>
        <% if Account.current.nil? %>
            <li class="navbar-right"><span class="navbar-brand"><%= link_to "Přihlásit", Portal::App.url(:main,:login) %></span></li>
        <% else %>
            <li class="navbar-right"><span class="navbar-brand"><%= Account.current.name %> <%= Account.current.surname %> - <%= link_to "Odhlásit", Portal::App.url(:main, :logout) %></span></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="starter-template">
  <%= yield %>
</div>
</body>
</html>